@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FullName</h2>
<ul>
    <li>MembershipType: @Model.MembershipType.Name</li>
    @if(Model.Birthdate != null)
    {
        <li>Birthdate: @Html.ValueFor(m => m.Birthdate, "{0:dd/MM/yyyy}")</li>
    }
</ul>